.background {
	background-color:white;
	margin: 5px;
 }
.mainNavigationBar a:hover {
	background-color: #f7c7c7;
	color: black;
  }
  
  .navigationBar2 a{
	  color: black;
	  font-size: 20px;
	  margin-right: 50px;
	  padding: 14px 16px;
  }
  .navigationBar1 a{
	  color :black;
	  float: left;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
  }
  .navigationBar1 a.push {
	  float: right;
  }
.navigationBar2 {
	text-align: center;
	position: relative;
}
.logo{
	text-align: center;
}
.search{
	float: right;

  	display: none;
  	color: grey;
  	text-align: center;
  	text-decoration: none;
  	font-size: 15px;

  	background-color: #fff;
 	width: 100px;
 	width: 90px;
  	height: 40px;
 	border-radius: 30%;
 	border-radius: 25px;
 	display: flex;
  	flex-direction: row;
 
	-webkit-transition: width 0.7s ease-in-out;
  	transition: width 0.7s ease-in-out;
}

.search:focus{
  	width: 18%;
}
.navigationBar2 a:hover {
	background-color: rgb(247, 199, 199);
	color: black;
  }
.productPhoto1{
	width: 233px;
	padding:4px;width:50%"
}
.productPhoto2{
	width: 233px;
	padding:4px;width:50%"
}
.productPhoto3{
	width: 233px;
	padding:4px;width:50%"
}
.EnlargedPhoto{
	width: 700px;
	padding:4px;width:50%"
}
.dropbtn {
	background-color: #070707;
	color: white;
	width: 200px;
	height: 50px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn  {background-color: rgb(247, 199, 199);}

  .dropbtn2 {
	background-color: #070707;
	color: white;
	width: 200px;
	height: 50px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown2 {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content2 a {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content2 a:hover {background-color: #ddd;}
 
  
  .dropdown2:hover .dropdown-content2 {display: block;}
  
  .dropdown2:hover .dropbtn2  {background-color: rgb(247, 199, 199);}

 .cartButton{
	 margin-left: 400px;
	 width: 200px;
	 height: 70px;
	 font-size: 20px;
 }
 .cartButton:hover {background-color: rgb(247, 199, 199);}

 .productPhotosMain {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1.2fr;
    letter-spacing: 1px;
}

  .dropdown:hover .dropbtn {background-color: rgb(247, 199, 199);}

  .socksReviews {
    padding: 4rem;
    text-align: center;
}
.similarProductsTitle {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}

.similarProductsPhotos {
    display: grid;
    grid-template-columns: 0.195fr 0.19fr 0.2fr 0.2fr 0.2fr ;
	align-self: center;
}

.similarProductsPhotoDescption {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
}
.similarProductsPhoto {
	position: relative;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 70%;
    margin-left: 19%;
}

.similarProductsInfo {
	position: relative;
    margin: 100;
    text-align: center;
    color: #000000;
    font-size: small;
    padding: 1px;
}

.socialMedia {
    text-align: center;
}

.socialMedia {
    margin: 7px 0 16px;
    padding: 0;
}
.socialMedia .icon {
    display: inline-block;
    margin: 0 20px;
    opacity: 1;
}
.socialMedia {
    text-align: center;
}
.fa {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 100%;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #f7c7c7;
	color: white;
  }
  .fa-twitter {
	background: #f7c7c7;
	color: white;
  }
  .fa-instagram {
	background: #f7c7c7;
	color: white;
  }
  .fa-pinterest {
	background: #f7c7c7;
	color: white;
  }
  .fa-reddit {
	background: #f7c7c7;
	color: white;
  }
  .footer-wrapper {
    background-color: #f7c7c7;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-transform: uppercase;
    height: 70%;
	text-align: right;
}

@media screen and (max-width: 680px)