.background {
	background-color:white;
	margin: 10px;
 }
.navbarmain a:hover {
	background-color: #f7c7c7;
	color: black;
  }
  
  .navbar2 a{
	  color: black;
	  font-size: 20px;
	  margin-right: 50px;
  }
  .navbar1 a{
	  color :black;
	  float: left;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
  }
  .navbar1 a.push {
	  float: right;
  }
.navbar2 {
	text-align: center;
}
.logo{
	text-align: center;
}
.search{
	float: right;

  	display: none;
  	color: grey;
  	text-align: center;
  	text-decoration: none;
  	font-size: 15px;

  	background-color: #fff;
 	width: 100px;
 	width: 90px;
  	height: 40px;
 	border-radius: 30%;
 	border-radius: 25px;
 	display: flex;
  	flex-direction: row;
 
	-webkit-transition: width 0.7s ease-in-out;
  	transition: width 0.7s ease-in-out;
}

.search:focus{
  	width: 18%;
}
.navbar2 a:hover {
	background-color: rgb(247, 199, 199);
	color: black;
  }
.photocard1{
	width: 233px;
	padding:4px;width:50%"
}
.photocard2{
	width: 233px;
	padding:4px;width:50%"
}
.photocard3{
	width: 233px;
	padding:4px;width:50%"
}
.photocard2{
	width: 250px;
	padding:4px;width:50%
}
.photocard3{
	width: 250px;
	padding:4px;width:50%"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
}

.photolarge{
	width: 700px;
	padding:4px;width:50%"
}
.dropbtn {
	background-color: #070707;
	color: white;
	width: 450px;
	height: 50px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
 
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn  {background-color: rgb(247, 199, 199);}

 .atbbutton{
	 margin-left: 50px;
	 width: 450px;
	 height: 50px;
	 font-size: 16px;
 }
 .atbbutton:hover {background-color: rgb(247, 199, 199);}

 .productmain {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 0.1fr 1fr 1.2fr;
    letter-spacing: 1px;
}


  .dropdown:hover .dropbtn {background-color: rgb(247, 199, 199);}
